<div class="container">
    <div class="row">
        <div class="col-sm-8 ">
            <div class="left">
                <a href=""><img class="pic" src="./assets/images/slide.png"></a>
           </div>
        </div>
        <div class="col-sm-4 right">
            <div class="para-1">
                <p>There are many factors that have contributed to the success of Zara but one of its key strengths, which has played a strong role in it becoming a global fashion powerhouse as it is today, is its ability to put customers first. Zara is obsessed with its customers, and they have defined the company and the brand’s culture right from the very beginning.</p>
            </div>
        </div>
    </div>
    <div class="row right">
        <div class="col-sm-8 ">
            <div class="para-2">
                <p>The Secret of</p>
                <p>Zara’s Success</p>
            </div>   
        </div>
        <div class="col-sm-4 left">
            <div class="left">
                <a href=""><img class="pic" src="./assets/images/side.png"></a>
           </div>
        </div>
    </div>
</div>