<<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="left">
                <div class="right">
                    <img class="pic" src="./assets/images/story.png">
               </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="left">
                <div class="para-1">
                    <p>The Zara brand</p>
                    <p>story</p>
                </div>
                <div class="para-2">
                    <p>Zara was founded by Amancio Ortega and Rosalía Mera in 1975 in downtown Galicia in the northern part of Spain. Its first store featured low-priced lookalike products of popular, higher-end clothing and fashion. Amancio Ortega named Zara as such because his preferred name Zorba was already taken. In the next 8 years, Zara’s approach towards fashion and its business model gradually generated traction with the Spanish consumer.</p>
                </div>
                <!-- <div class="but">
                    <button class="btn" id="view">VIEW ALL</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
