<div class="container">
    <!-- Section 1 -->
    <div class="row">
        <div class="col-sm-7 my">
           <div class="left">
                <div class="heading" >
                    <h4> ZARA WAS FOUNDED IN 1975</h4>
                </div>
                <div class="big-heading">
                    <p>New</p>
                    <p>Collection</p>
                </div>
                <div class="sub-heading">
                    <h2>Spring-Summer,2019</h2>
                </div>
                <div class="but">
                    <button class="btn" id="view" (click)="scroll(target)">VIEW ALL</button>
                </div>
           </div>    
        </div>

        <div class="col-sm-5  right">
            <div >
                <img class="model" src="./assets/images/suit.png" >
            </div>
        </div>
    </div>

    <!-- Section 2 -->

    <div class="row sec-2 " id="area-2">
        <div class="col-sm-5">
            <div >
                <img class="brand" src="./assets/images/brand.png">
            </div>
        </div>
        <div class="col-sm-7"  #target>
           <div class="about">
                <div class="side-head">
                    <p>About New</p>
                    <p>Collection</p>
                </div>
                <div class="para">
                    <p>
                        Zara is a Spanish clothes and accessories brand, it is the flagship brand of the Inditex group. Few clothing brands keep up with the latest fashion, are of high quality and yet, affordable. It is probably the amalgamation of all these qualities that made Zara.
                    </p>
                </div>
                <div class="but">
                    <!-- <button class="btn">VIEW ALL</button> -->
                </div>
           </div>
        </div>
    </div>








</div>