<div class="section">
    <div class="container">
        <div class="row main">
            <div class="col-sm-6 left">
                <div class="row">
                    <div class="col-sm-11 nav">
                        <div class="nav-content">
                        Quick Actions
                        </div> 
                    </div>
                    <div class="col-sm-1 nav">
                        <a href="">
                            <div class="mark">
                                <i class="fa fa-thumb-tack pin" aria-hidden="true"></i>
                            </div>
                        </a>     
                    </div>
                </div>
                <div class="row lside">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/apply-top.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">View/ Apply top-up</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/timesheet.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Submit Timesheet</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/payslip.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Download Pay slip</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/assigments.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">View Assigments</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- row-2 -->
                <div class="row lside">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/leave.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Apply leave</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-mouse-pointer icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/holiday.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">View Holidays</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/view_timesheet.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">View Timesheet</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/apply-leave.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Apply leave India</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- row-3 -->
                <div class="row lside">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/assocoiate-profile.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Associate Profile</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/revenu.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">MTR Revenue Billing</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <a href="">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-star icon" aria-hidden="true"></i>
                                </div>
                                <div class="card-body">
                                    <img class="pics" src="./assets/images/quick-assg.png">
                                </div>
                                <div class="card-footer">
                                    <p class="tags">Quick Assigment</p>
                                </div>
                            </div>
                        </a>    
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/project-genral.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Project General Info</p>
                            </div>
                        </div>

                    </div>  
                </div>
               
                <hr>
                <div class=" next">
                    <a href="" class="forward">
                        <h6> View All Activities <span><i class="fa fa-play go" aria-hidden="true"></i></span></h6>
                    </a>
                </div>
            </div>


        <!-- Right -->



            <div class="col-sm-6 right">
                <div class="row">
                    <div class="col-sm-11 nav">
                        <div class="nav-content">
                        Hotapps
                        </div> 
                    </div>
                    <div class="col-sm-1 nav">
                        <a href="">
                            <div class="mark">
                                <i class="fa fa-thumb-tack pin" aria-hidden="true"></i>
                            </div>
                        </a>     
                    </div>
                </div>
                <div class="row lside">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/trans.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">One Transport</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/my pay.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">MY PAY</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/medibuddy.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Medi Buddy</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/acess.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Access Card</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- row-2 -->
                <div class="row lside">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/backgroun.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Background Verification</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/outreach.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Outreach</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/indian-hospita.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Indian Hospitality</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/clearance.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Clearance Automation</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- row-3 -->
                <div class="row lside">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/special-pay.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Special Pay</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/total-rewards.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Total Rewards</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/cognizant-advantage.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">Cognizant Advantage</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-star icon" aria-hidden="true"></i>
                            </div>
                            <div class="card-body">
                                <img class="pics" src="./assets/images/l-1-visa.png">
                            </div>
                            <div class="card-footer">
                                <p class="tags">L-1 Visa App</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <hr>
                <div class=" next">
                    <a href="" class="forward">
                        <h6> View All Apps <span><i class="fa fa-play go" aria-hidden="true"></i></span></h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
